#root {
  margin: 0 auto;
  text-align: center;
}

* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

button {
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.4rem;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* navbar start */
nav {
  height: 60px;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 100%;
  padding-inline: 4rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.profile-container {
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.profile-container > img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 1.2rem;
  margin-right: 0.6rem;
}

.profile-container > span {
  font-size: 1.2rem;
  font-weight: 600;
}

.options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7%;
  right: 1%;
  z-index: 1;
  border-radius: 0.2rem;
  background-color: var(--secondary-color);
}

.options-row {
  display: flex;
  align-items: center;
  text-align: left;
  width: 10rem;
  padding: 0.8rem;
  cursor: pointer;
}

.options-row img {
  width: 24px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.4rem;
  margin-right: 0.8rem;
}

.options-row:hover {
  background-color: rgba(var(--accent-color), 0.2);
  border-radius: 0.2rem;
}

/* navbar end */

/* Dashboard start*/

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
}

.dashboard-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem;
  /* border-block: 1px solid rgba(var(--accent-color), 0.2); */
}

ul {
  padding: 0;
  margin: 0;
}

.user-interests li {
  border: 1px solid var(--secondary-color);
  border-radius: 0.8rem;
  margin: 0.5rem;
  padding: 0.2rem;
}

.user-interests li:hover {
  cursor: pointer;
  background-color: var(--optional-color);
}

.li-selected {
  background-color: var(--secondary-color);
}

.current-interests li {
  border: 1px solid var(--primary-color);
  border-radius: 0.8rem;
  margin: 0.5rem;
  padding: 0.2rem;
}

.cli-selected {
  background-color: rgba(var(--accent-color), 0.3);
}

.preference {
  margin: 0 auto;
}

.bio-input textarea {
  color: #ffff;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  resize: none;
  width: 100%;
  height: 100px;
  background-color: var(--secondary-color);
  border: 1px solid var(--optional-color);
}

/* Dashboard end*/

/* login modal start */
.modal {
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 34rem;
  border-radius: 1rem;
}

.login,
.register {
  margin: 0 auto;
}

.modal h2 {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.modal > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  inline-size: 80%;
}

.modal > form label {
  padding-bottom: 0.3rem;
}

.modal > form button {
  font-size: 1.1rem;
  padding: 1rem;
  padding-inline: 1.2rem;
  margin-top: 0.5rem;
  align-self: center;
  background-color: rgba(var(--accent-color), 0.6);
}

input,
select {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.6rem;
  padding-inline: 0.8rem;
  background-color: var(--secondary-color);
  border-radius: 0.2rem;
  border: 1px solid var(--optional-color);
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid rgba(var(--accent-color), 0.4);
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div > label {
  align-self: flex-start;
}

:where(h1, h2, h3, h4, h5, h6) {
  margin: 0;
}

/* Home Start*/

.swipe-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 460px;
  background-color: var(--secondary-color);
  border-radius: 0.8rem;
}

.swipe-profile-img {
  display: block;
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  cursor: pointer;
}

.user-content {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  background-color: var(--optional-color);
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.swipes {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.swipes a {
  cursor: pointer;
}

/* Home end */

/* Messaging  */

.messaging-container {
  /* margin-top: 2rem; */
  background-color: var(--optional-color);
  border-radius: 0.4rem;
}

.conversation-container {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 400px;
  background-color: var(--secondary-color);
  border-radius: 0.4rem;
}

.collapse-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2rem;
}

.message-list {
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: var(--optional-color);
  padding-inline: 2rem;
}

.conversation-list {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: clamp(8rem, 5rem + 30vh, 25rem);
  height: clamp(8rem, 5rem + 40vh, 40rem);
  background-color: var(--optional-color);
}

.message-content {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  width: 0 auto;
}

.message-content p {
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  margin: 0;
  margin-bottom: 0.4rem;
  padding: 1rem;
  border-radius: 0.4rem;
  align-self: flex-start;
}

.owner p {
  background-color: rgb(30, 116, 99);
  align-self: flex-end;
}

.conversation-item {
  padding-inline: 0.8rem;
  height: 3rem;
  cursor: pointer;
  border-bottom: 1px outset rgba(var(--accent-color), 0.5);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  place-items: center;
}

.conversation-item:hover {
  transform: scale(1.05);
}

.conversation-item img {
  height: 40px;
  width: 40px;
  border-radius: 1.2rem;
  object-fit: cover;
}

.submit-area {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.submit-area textarea {
  color: #ffff;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  padding: 1rem;
  resize: none;
  width: 100%;
  height: 100px;
  background-color: var(--secondary-color);
  border: 1px solid var(--optional-color);
}

textarea:focus {
  outline: none;
  border: 1px solid rgba(var(--accent-color), 0.4);
}

.submit-area button {
  height: 4rem;
  width: 6rem;
  font-size: 1.2rem;
  margin-left: 0.8rem;
  align-self: center;
  background-color: rgba(var(--accent-color), 0.5);
}

.messaging-modal {
  position: fixed;
  margin-inline: 0.4rem;
  bottom: 0;
  right: 0;
  padding: 0.6rem;
  max-width: 400px;
  background-color: var(--secondary-color);
  cursor: pointer;
  border-radius: 0.2rem;
}

@media screen and (max-width: 600px) {
  .message-list {
    padding-inline: 0;
  }
}
