#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* navbar start */
nav {
  display: block;
  height: 50px;
  padding-inline: 2rem;
  border-bottom: 1px solid rgb(33, 177, 177);
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.profile-container {
  display: flex;
  padding: 6px;
  border-radius: 5px;
  border: 0.5px solid orangered;
}

.profile-container > img {
  height: 30px;
  padding-right: 0.5rem;
}

.profile-container > span {
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 8rem;
  position: absolute;
  top: 7%;
  border-radius: 5px;
  background-color: #3e3c3c;
}

a {
  color: whitesmoke;
}

/* navbar end */

/* login modal start */
.modal {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30rem;
  height: 30rem;
  background-color: #282727;
  border-radius: 1rem;
}

.modal > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div > label {
  align-self: flex-start;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard > .modal {
  margin-top: 2rem;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

:where(h1, h2, h3, h4, h5, h6) {
  margin: 0;
}

/* Home Start*/

.swipe-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  font-weight: 500;
  color: rgb(2, 2, 2);
}

.user-card > img {
  height: 400px;
  width: 300px;
  object-fit: cover;
}

.user-card > span {
  position: absolute;
  top: 0;
  left: 22%;
}

.user-card > p {
  position: absolute;
  bottom: 5px;
  left: 20%;
}

button {
  border-radius: 5px;
  width: 6rem;
  border: none;
  outline: none;
  margin: 0.2rem;
  font-size: 0.8rem;
  font-weight: 800;
  padding: 0.5rem;
  cursor: pointer;
}

.right {
  position: absolute;
  top: 50%;
  background-color: rgb(12, 121, 12);
  right: 0%;
}

.left {
  position: absolute;
  top: 50%;
  background-color: rgb(211, 21, 21);
  left: 0%;
}

/* Home end */

/* Messaging  */

.messaging-container {
  background-color: #3e3c3c;
  border-radius: 0.4rem;
}

.conversation-container {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 400px;
  background-color: #3e3c3c;
  border-radius: 0.4rem;
}

.collapse-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2rem;
}

.message-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: rgb(81, 76, 77);
}

.conversation-list {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 500px;
  max-height: 500px;
  background-color: rgb(81, 76, 77);
}

.message-item {
  border-bottom: 1px solid orangered;
}

.conversation-item {
  padding-inline: 0.8rem;
  height: 3rem;
  cursor: pointer;
  border-bottom: 1px solid orangered;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  place-items: center;
}

.conversation-item:hover {
  transform: scale(1.05);
}

.conversation-item img {
  height: 40px;
  border-radius: 1.2rem;
}

.submit-area {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.submit-area textarea {
  width: 80vw;
  height: 80px;
}

.messaging-modal {
  position: fixed;
  margin-inline: 0.4rem;
  bottom: 0;
  right: 0;
  padding: 0.6rem;
  max-width: 400px;
  background-color: #3e3c3c;
  cursor: pointer;
  border-radius: 0.2rem;
}
