#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* navbar start */
nav {
  display: block;
  height: 50px;
  padding-inline: 2rem;
  border-bottom: 1px solid rgb(33, 177, 177);
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.profile-container {
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.profile-container > img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 1.2rem;
  margin-right: 0.6rem;
}

.profile-container > span {
  font-size: 1.1rem;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 8rem;
  position: absolute;
  top: 7%;
  border-radius: 5px;
  background-color: var(--secondary-color);
}

a {
  color: whitesmoke;
  text-decoration: none;
}

/* navbar end */

/* login modal start */
.modal {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30rem;
  height: 30rem;
  background-color: var(--secondary-color);
  border-radius: 1rem;
}

.modal > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div > label {
  align-self: flex-start;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard > .modal {
  margin-top: 2rem;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

:where(h1, h2, h3, h4, h5, h6) {
  margin: 0;
}

/* Home Start*/

.swipe-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 460px;
  background-color: var(--secondary-color);
  border-radius: 0.8rem;
}

/* .user-card > img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
} */

.swipe-profile-img {
  display: block;
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  cursor: pointer;
}

.user-content {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  background-color: var(--optional-color);
  cursor: pointer;
}

button {
  border-radius: 5px;
  width: 6rem;
  border: none;
  outline: none;
  margin: 0.2rem;
  font-size: 0.8rem;
  font-weight: 800;
  padding: 0.5rem;
  cursor: pointer;
}

.swipes {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.swipes a {
  cursor: pointer;
}

/* Home end */

/* Messaging  */

.messaging-container {
  margin-top: 2rem;
  background-color: var(--optional-color);
  border-radius: 0.4rem;
}

.conversation-container {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 400px;
  background-color: var(--secondary-color);
  border-radius: 0.4rem;
}

.collapse-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2rem;
}

.message-list {
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: var(--optional-color);
}

.conversation-list {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 500px;
  max-height: 500px;
  background-color: var(--optional-color);
}

.message-content {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  width: 0 auto;
}

.message-content p {
  background-color: var(--primary-color);
  margin: 0;
  margin-bottom: 0.4rem;
  padding: 1rem;
  border-radius: 0.4rem;
  align-self: flex-start;
}

.owner p {
  background-color: rgb(30, 116, 99);
  align-self: flex-end;
}

.conversation-item {
  padding-inline: 0.8rem;
  height: 3rem;
  cursor: pointer;
  border-bottom: 1px solid orangered;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  place-items: center;
}

.conversation-item:hover {
  transform: scale(1.05);
}

.conversation-item img {
  height: 40px;
  width: 40px;
  border-radius: 1.2rem;
  object-fit: cover;
}

.submit-area {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.submit-area textarea {
  width: 80vw;
  height: 80px;
}

.messaging-modal {
  position: fixed;
  margin-inline: 0.4rem;
  bottom: 0;
  right: 0;
  padding: 0.6rem;
  max-width: 400px;
  background-color: var(--secondary-color);
  cursor: pointer;
  border-radius: 0.2rem;
}
