.user-profile {
  margin-top: 2rem;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile img {
  margin-top: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 6rem;
}

.user-profile input {
  position: absolute;
  margin-top: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 6rem;
  opacity: 0;
  cursor: pointer;
}

.user-profile img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.user-profile > p {
  border-top: 1px solid #5a5454;
}

.preference > form {
  width: 50%;
}
