.user-profile {
  width: 400px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
}

.user-profile img {
  margin-top: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 6rem;
}

.user-profile input {
  position: absolute;
  margin-top: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 6rem;
  opacity: 0;
  cursor: pointer;
}

.user-profile img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.user-profile > p {
  padding: 1rem;
  border-top: 1px solid var(--optional-color);
  border-bottom: 1px solid var(--optional-color);
}
