.user-profile {
  width: 400px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
}

.user-profile-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1.5;
  width: 100%;
  border-bottom: 1px solid var(--optional-color);
}

.user-profile-main {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-basis: 0;
  flex-grow: 0.7;
}

.user-profile-info img {
  position: absolute;
  top: 38px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 6rem;
}

.user-profile-info input {
  position: absolute;
  top: 33px;
  width: 160px;
  height: 160px;
  border-radius: 6rem;
  opacity: 0;
  cursor: pointer;
  /* background-color: yellow; */
}

.user-profile-info-popup {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(var(--accent-color), 0.3);
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.user-profile-info-titles {
  flex-basis: 0;
  flex-grow: 1;
}

.username {
  font-weight: 700;
}

.user-role {
  font-weight: 500;
}

.user-profile-info img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.user-profile-info p {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--optional-color);
}

.current-interests {
  flex-basis: 0;
  flex-grow: 1;
}
